:root {
    --primary-color: #828282;
    --secondary-color: #fff;
    --background-color: #f0f0f0;
    --button-background: #828282;
    --button-text-color: #fff;
    --button-hover-background: #606060;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Tiny5", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    gap: 25px;
}

body h1{
    font-size: 50px;
}

.main {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

#infoPanel {
    max-width: 502px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
}

#infoPanel div {
    width: 50%;
}

#gameCanvas {
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px 10px;
    background-color: var(--button-background);
    color: var(--button-text-color);
}

#buttons button:hover {
    background-color: var(--button-hover-background);
}

#buttons .dot {
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border: 3px solid var(--button-hover-background);
}

#scoreBoard {
    margin-top: 20px;
}

#scoreBoard h2 {
    padding: 20px 0 10px;
}

#scoreBoard ol {
    margin: 0 25px;
}

#scoreBoard li {
    margin: 5px 0;
}

.rules {
    width: 50vw;
}

.rules h3 {
    margin-left: 20px;
}

.rules p {
    margin: 5px;
    line-height: 1.2;
    margin-left: 40px;
}
